# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives:</strong>
- List popular languages for Data Science
- Create table of data science tools
- Create arithmetic expression example

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn

|Data Science Tools|
|----|
|R studio|
|Jupyter|
|Spyder|

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
round(200/60, 2)

3.33

## Author
Yusuke